<!-- Content -->
<article class="box post">
    <a href="#" class="image featured"><img src="{{ .Site.BaseURL }}{{ .Params.image }}" alt="" /></a>
    <header>
        <h3>{{ .Params.property }}</h3>
        <h2>{{ .Title }}</h2>
        {{ if not .Date.IsZero }}
        <!-- <p>Posted {{ .Date.Format "2 Jan 2006" }}</p> -->
        {{ end }}
    </header>
    <div class="list-features">
        <p>N° of Bedrooms: {{ .Params.bedrooms }}</p>
        <p>N° of Bathsrooms: {{ .Params.baths }}</p>
        <p>Furnished: {{ .Params.furnished }}</p>
        <p>N° of Sleeps: {{ .Params.sleeps }}</p>
        <p>Garden: {{ .Params.garden }}</p>
        <p>Maid Service: {{ .Params.maid }}</p>
        <p>TV: {{ .Params.tv }}</p>
        <p>Wifi: {{ .Params.wifi }}</p>
        <p>Hot Water: {{ .Params.hotwater }}</p>
        <p>Water Pump: {{ .Params.waterpump }}</p>
        <p>Pets Allowed: {{ .Params.pets }}</p>
        <p>N° of Parking spots: {{ .Params.parking }}</p>
        <p>Security: {{ .Params.security }}</p>
        <p>Short Term: {{ .Params.shortterm }}</p>
        <p>Minimum Stay: {{ .Params.minimumstay }}</p>
        <h6>Price: {{ .Params.price }}</h6>
    </div>
    <br/>
    {{ .Content }}
    <br/>
    <h3>Request Availability of This Property</h3>
    <br/>
    <form style="width: 70%; " name="Request Availability" method="POST" netlify>
        <input id= "pageURL" type="hidden" name="Request Property on page" value=""/>
        <p><label>Your Name: <input type="text" name="name" /></label></p>
        <p><label>Your Email: <input type="email" name="email" /></label></p>
        <p><label>Message: <textarea name="message"></textarea></label></p>
        <p><button type="submit">Send</button></p>
    </form>
    <script type="text/javascript">
        var currentPageURL = "https://cocoonrwanda.101experiments.com" + .URL;
        document.getElementById("pageURL").value=currentPageURL;
    </script>
</article>
