{{ define "main" }}
	<div id="page-wrapper">

		<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					{{ partial "topContact.html" . }}

					{{ partial "logo.html" . }}

					{{ partial "nav.html" . }}

					{{ partial "banner.html" . }}

					{{/*  {{ partial "intro.html" . }}  */}}

				</div>
			</div>

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					{{ $portfolioItems := where .Site.Pages "Type" .Site.Params.Portfolio.foldername }}
					{{ if $portfolioItems }}
					<div class="row">
						<div class="12u">
							{{ partial "portfolio.html" . }}
						</div>
					</div>
					{{ end }}
					{{ $blogPaginator := .Paginate ( .Site.RegularPages ) 6 }}
					{{ if $blogPaginator.TotalNumberOfElements }}
					<div class="row">
						<div class="12u">
							{{ partial "blog.html" (dict "title" .Site.RegularPages "paginator" $blogPaginator) }}
						</div>
					</div>
					{{ end }}
				</div>
			</div>

			{{ partial "footer/index.html" . }}

	</div>

	{{ partial "scripts/index.html" . }}


{{ end }}
